<%= render "application/errors", resource: @seller %>

<%= form_with model: @seller, url: seller_signup_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class="text-center">
    <%= f.submit 'Sign up', class: 'btn btn-secondary' %>
    <br />
    <%= link_to 'Log in', new_login_path %>
  </div>
<% end %>
